.card{
    height:100px;
    margin-top:10px;
    border:1px solid rgb(158, 156, 156);
    width: 200px;
}
.container{
    margin-top: 50px;
    padding:10px;
    border :none;
    margin-bottom: 20px;
}
i{
    margin-top: 15px;
    margin-left: 180px;
}