.card{
    height:300px;
    margin-top:10px;
    border:1px solid rgb(158, 156, 156);
}
.container{
    padding:10px;
    border :none;
    margin-bottom: 20px;
}
p{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap;
}
.content{
    display:flex;
    justify-content: space-between;
}
table{
    margin-right: 50px;
}
input{
    border:2px solid gray;
}